.home-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
}

.home-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
}

.home-text {
    flex: 1;
    min-width: 280px;
}

.home-greeting {
    font-size: 1.5rem;
}

.home-name {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.name-highlight {
    color: #00F5A0;
}

.home-role {
    font-size: 1.6rem;
    margin-top: 10px;
}

.home-tagline {
    margin-top: 10px;
    font-size: 1rem;
    color: #c7c6c6;
    max-width: 500px;
}

.home-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.primary {
    background: #00F5A0;
    color: #000;
}

.primary:hover {
    background: #00d98c;
}

.secondary {
    border: 1px solid #00F5A0;
    color: #00F5A0;
}

.secondary:hover {
    background: #00F5A0;
    color: #000;
}

.home-socials {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.home-socials a {
    font-size: 1.2rem;
    color: #ccc;
    transition: 0.3s;
}

.home-socials a:hover {
    color: #00F5A0;
}

.hero-bg-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bg-section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes waveHand {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}

@media (max-width: 992px) {
    .home-inner {
        flex-direction: column;
        text-align: center;
    }

    .home-text {
        margin-bottom: 30px;
    }

    .home-name {
        font-size: 2.4rem;
    }

    .home-role {
        font-size: 1.4rem;
    }

    .hero-bg-section img {
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .home-section {
        padding: 30px 15px;
    }

    .home-name {
        font-size: 2rem;
    }

    .home-role {
        font-size: 1.2rem;
    }

    .home-greeting {
        font-size: 1.2rem;
    }

    .hero-bg-section img {
        max-width: 280px;
    }

    .hero-circle {
        width: 220px;
        height: 220px;
    }

    .orbit-item {
        font-size: 0.6rem;
    }
}